//Messages
.field-validation-valid {
    display: none;
}

//Buttons
.btn {
    box-shadow: none !important;
}

button:focus {
    outline: none;
}

.btn-primary {
    background-color: $green;
    border-color: $green;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
        background-color: $green__darker;
        border-color: $green__darker;
    }
}

.btn-delete:hover {
    background-color: $red;
    border-color: $red;
}

//Links
a {
    color: $green;

    &:hover,
    &:active,
    &:focus {
        color: $green__darker;
    }
}

//Input
.form-control:focus {
    box-shadow: $box-shadow $green__transparent;
    border-color: $green__lighter;
}

//Floating Action Button
.fab {
    position: fixed;
    z-index: 15;
    right: 15px;
    bottom: 20px;

    display: flex;
    justify-content: center;
    align-items:center;
    width: 55px;
    height: 55px;
    border: none;

    background-color: $green;
    color: white;
    font-size: 45px;
    line-height: 40px;
    border-radius: 100%;
    box-shadow: 0 6px 10px 0 #666;

    @media (min-width: 768px) {
        right: 40px;
        bottom: 40px;
    }
}