#content {
    grid-area: content;
    overflow-y: auto;
    background-color: $white-bg;

    #js_sidebarTrigger {
        position: sticky;
        top: 0;
        background-color: $white-bg;

        .fa-bars {
            color: $green;
        }
    }

    .citationGroup {
        margin-bottom: 15px;
        color: $grey-text;

        .list-group-item {

            .speaker {
                color: $green;
            }

            &:nth-child(even) {
                text-align: right;
            }
        }

        .author {
            color: $green__darker;
        }
    }
}
