#content {
    grid-area: content;
    overflow: auto;
    background-color: $white-bg;

    #js_sidebarTrigger {
        position: sticky;
        top: 0;
        background-color: $white-bg;

        .fa-bars {
            color: $green;
        }
    }
}
