body {
    display: grid;
    height: $container-height;
    grid-template-rows: $header-row-height $content-row-height;
    grid-template-areas: "navigation" "content";
}

@media (min-width: 768px) {
    body {
        display: grid;
        height: $container-height;
        grid-template-columns: $sidebar-column-width $content-column-width;
        grid-template-rows: $header-row-height $content-row-height;
        grid-template-areas: "navigation navigation" "sidebar content";
    }
}

#content {
    grid-area: content;
    padding: 20px;
}
