body {
    display: grid;
    height: $container-height;
    grid-template-rows: $header-row-height $content-row-height;
    grid-template-areas: "navigation" "content";
}

@media (max-width: 768px) {
    .navbar-slogan{
        display: none;
    }
}

@media (min-width: 768px) {
    body {
        display: grid;
        height: $container-height;
        grid-template-columns: $sidebar-column-width $content-column-width;
        grid-template-rows: $header-row-height $content-row-height;
        grid-template-areas: "navigation navigation" "sidebar content";
    }
}

.buttonpanel {
    display: flex;
    justify-content: space-between;
}

.fill-screen {
    grid-area: content;
    grid-column: span 2;
}

.z-100 {
    z-index: 100;
}