body {
    background: $white-bg;
}

.bodyDiv {
    grid-column: span 2;
    margin: auto;
}

.startpageDiv {
    background: #f8f8f8;
    border-radius: 15px;
    box-shadow: 6px 6px 30px 5px rgba(0,0,0,0.5);
    padding: 10px;

    .startupBtn {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
        display: block;
    }

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .bodyDiv {
        grid-column: span 1;
    }

    .startpageDiv {
        background: #ffffff;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }
}
