$container-height: 100vh;

$sidebar-column-width: 1fr;
$content-column-width: 3fr;

$header-row-height: 60px;
$content-row-height: 1fr;

$small-text-size: 12px;

$box-shadow: 0 0 0 .2em;

//colors
$grey-bg: #f8f8f8;
$grey-border: #ececec;
$grey-text: #4a4a4a;
$grey-text-light: #878787;
$grey: #666666;
$green: #32a852;
$green__darker: #26813f;
$green__lighter: #52cc73;
$green__transparent: rgba(82,204,115,.25);

$white-bg: #ffffff;