$container-height: 100vh;

$sidebar-column-width: 1fr;
$content-column-width: 3fr;

$header-row-height: 60px;
$content-row-height: 1fr;

$small-text-size: 12px;


//colors
$grey-bg: #f8f8f8;
$grey-border: #ececec;
$grey-text: #4a4a4a;
$grey-text-light: #878787;
$grey: #666666;
$green: #32a852;

$white-bg: #ffffff;