@page
@model CitationNeeded.WebApp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="startpageDiv">
    <h1>Login</h1>

    <p>Logge dich ein um die Funktionen von CitationNeeded zu Nutzen!</p>

    <form method="post">
        <div class=" form-group">
            <label asp-for="Email">Email: </label>
            <input class="form-control" asp-for="Email" />
            <span asp-validation-for="Email">Inkorrekte Eingabe</span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password: </label>
            <input class="form-control" asp-for="Password" />
            <span asp-validation-for="Password">Inkorrekte Eingabe</span>
        </div>
        <button type="submit" class="btn btn-primary startupBtn">Einloggen</button>
    </form>

    <p>Noch kein Konto? Dann registriere dich  <a class="registerLink" href="/Account/Register">hier</a>!</p>
   
</div>

