@page
@model CitationNeeded.WebApp.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label asp-for="Username">Username: </label>
    <input asp-for="Username" />
    <label asp-for="Password">Password: </label>
    <input asp-for="Password" />
    <input type="submit" />
</form>

