@page
@model CitationNeeded.WebApp.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <label asp-for="Username">Username: </label>
    <input asp-for="Username" />
    <span asp-validation-for="Username"></span>
    <label asp-for="Password">Password: </label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <label asp-for="Email">E-Mail: </label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <input type="submit" />
</form>