@page
@model CitationNeeded.WebApp.Pages.Account.VerificationModel
@{
    ViewData["Title"] = "CitationNeeded | Verifizierung";
}

<div class="bodyDiv">
    <div class="startpageDiv">
        <h1>Verifizierung</h1>

        <p>Wir haben dir eine E-Mail für die Verfizierung geschickt. Bitte bestätige deine Registrierung mit dem Link!</p>

        <form method="post">
            <button type="submit" class="btn btn-primary startupBtn">Zum Login</button>
        </form>
    </div>
</div>