@{
    var citationBook = (CitationNeeded.Domain.ValueTypes.CitationBook)ViewData["CitationBook"];
}

@foreach (var citationGroup in citationBook.CitationGroups)
{
    <div class="card citationGroup">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                @foreach (var citation in citationGroup.Citations)
                {
                    <li class="list-group-item">
                        <div class="speaker">
                            @citation.Speaker
                        </div>
                        <div class="text">
                            @citation.Text
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <div class="author">Verfasser: @citationGroup.Author</div>
            <div class="card-subtitle text-muted">Erstellt: @citationGroup.Created</div>
        </div>
    </div>
}

<div id="js_newbookgroup" class="book-outline__new">
    <div class="book__new w-100">
        <i class="fas fa-plus"></i>
    </div>
</div>