<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <a href="/Account/Login">Login</a>
    <a href="/Account/Register">Register</a>
    <a href="/Account/Logout">Logout</a>
</body>
</html>
