@page
@model CitationNeeded.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if(Model.Account == null)
{
    <p>You are not logged in!</p>
}
else
{
    <p>Welcome, @Model.Account.FirstName!</p>
}

