@page
@model CitationNeeded.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "CitationNeeded";
}

@if (Model.Account == null)
{
    <div class="fill-screen">
        <div class="jumbotron h-100 mb-0">
            <h1 class="display-4">Huch!</h1>
            <p class="lead">Da hat wohl etwas nicht geklappt.</p>
            <hr class="my-4">
            <p>Fehlercode: 1337</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="Index" role="button">Erneut versuchen</a>
            </p>
        </div>
    </div>
}
else
{
    <aside id="sidebar" class="z-20">
        @foreach (var book in Model.CitationBooks)
        {
            <div class="book-outline" data-citationbook-id="@book.Id">
                <div class="book w-100">
                    <p class="title">@book.Name</p>
                    <p class="date">@Model.GetLatestDate(book).ToString("d")</p>
                </div>
            </div>
        }

        <div id="js_newbookplus" class="book-outline__new my-3">
            <div class="book__new w-100">
                <i class="plus-icon__new fas fa-plus"></i>
            </div>
        </div>

        <div id="js_newbookinput" class="d-none book-outline__new my-3">
            <form method="post" class="w-100">
                <input id="js_createBookInput" type="text" class="form-control mb-3" placeholder="Buchname" asp-for="CreateBookName" />
                <span asp-validation-for="CreateBookName" class="text-danger"></span>
                <div class="buttonpanel">
                    <button id="js_createBookCancelButton" class="btn btn-secondary" type="button">
                        Abbrechen
                    </button>
                    <button id="js_createBookButton" type="submit" class="btn btn-primary" asp-page-handler="CreateBook">
                        Anlegen
                    </button>
                </div>
            </form>
        </div>
    </aside>

    <div id="content" class="pt-3">
        <button id="js_sidebarTrigger" type="button" class="btn d-md-none z-10">
            <i class="fas fa-bars fa-lg"></i>
        </button>

        <button id="js_createCitationGroupButton" class="fab d-none">
            +
        </button>

        <div id="js_content" class="container">

        </div>
    </div>
}

@section Scripts
{
    <script>
        $(function () {
            $("#js_newbookplus").click(function () {
                $(this).addClass("d-none");
                $("#js_newbookinput").removeClass("d-none");
            });
        });
    </script>

    <script>
        $(function () {
            $("#js_createBookCancelButton").click(function () {
                $("#js_newbookinput").addClass("d-none");
                $("#js_newbookplus").removeClass("d-none");
            });
        });
    </script>

    <script>
        $(function () {
            $("#js_createBookButton").click(function (e) {
                if ($("#js_createBookInput").val().length < 1) {
                    e.preventDefault();
                }
            });
        });
    </script>

    <script>
        $(function () {
            $(".book-outline").click(function () {
                var citationBookId = $(this).data("citationbook-id");
                $('#js_content').load('?handler=CitationBookPartial&citationBookId=' + citationBookId);
                $("#sidebar").removeClass("z-20");
                $("#js_createCitationGroupButton").removeClass("d-none");
            });
        });
    </script>

    <script>
        $(function () {
            $("#js_sidebarTrigger").click(function () {
                $("#sidebar").addClass("z-20");
            })
        })
    </script>
}