@page
@model CitationNeeded.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "CitationNeeded";
}

@if (Model.Account == null)
{
    <p>You are not logged in!</p>
}
else
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    <aside id="sidebar" class="d-none d-md-block">
        @foreach (var book in Model.CitationBooks)
        {
            <div class="book-outline">
                <div class="book w-100">
                    <p class="title">@book.Name</p>
                    <p class="date">@Model.GetLatestDate(book).ToString("d")</p>
                </div>
            </div>
        }

        <div class="book-outline__new">
            <div class="book__new w-100">
                <i class="plus-icon__new fas fa-plus"></i>
            </div>
        </div>
    </aside>
}
