@page
@model CitationNeeded.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "CitationNeeded";
}

@if (Model.Account == null)
{
    <p>You are not logged in!</p>
}
else
{
    <aside id="sidebar" class="d-md-block d-none">
        <div class="book-outline">
            <div class="book w-100">
                <p class="title">Zitatbuch1</p>
            </div>
        </div>
        <div class="book-outline">
            <div class="book w-100">
                <p class="title">Zitatbuch1</p>
            </div>
        </div>
        <div class="book-outline__new">
            <div class="book__new w-100">
                <span class="plus">+</span>
            </div>
        </div>
    </aside>
}

@foreach (var book in Model.CitationBooks)
{
    <div class="book-outline">
        <div class="book w-100">
            <p class="title">@book.Name</p>
            <p class="date">@book.CitationGroups.Max(c => c.Created)</p>
        </div>
    </div>
    <p>@book.CitationGroups</p>
}
