@page
@model CitationNeeded.WebApp.Pages.IndexModel
@{
    ViewData["Title"] = "CitationNeeded";
}

@if (Model.Account == null)
{
    <p>You are not logged in!</p>
}
else
{
    <aside id="sidebar" class="d-md-block d-none">
        @foreach (var book in Model.CitationBooks)
        {
            <div class="book-outline">
                <div class="book w-100">
                    <p class="title">@book.Name</p>
                    <p class="date">@Model.GetLatestDate(book).ToString("d")</p>
                </div>
            </div>
        }

        <div class="book-outline__new">
            <div class="book__new w-100">
                <i class="fas fa-plus"></i>
            </div>
        </div>
    </aside>
}
